body {
    background-color: #191970; /* Midnight blue */
    color: #FFEB3B; /* White-yellow */
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
}

h1,h2 {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
}

.logo {
    width: 80px; /* Adjust as needed */
    height: 80px;
    vertical-align: middle;
    margin-right: 10px;
}

/* Navbar styling */
.navbar {
    background-color: #4169E1; /* Light blue */
    color: #FFFFFF;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar h1 {
    margin: 0;
    font-size: 1.5em;
    color: #FFFFFF;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 15px;
}

.navbar li {
    display: inline;
}

.navbar a {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
}

.navbar a:hover {
    color: #FFEB3B; /* Hover effect: white-yellow */
}

/* Center the chart container */
.chart-container {
    max-width: 600px; /* Limit the width to 600px */
    margin: 0 auto; /* Center the container */
    padding: 20px;
}

/* Ensure the canvas fits inside the container */
.chart-container canvas {
    width: 100%; /* Adjust to container's width */
    height: 400px; /* Set a specific height */
}

/* Main content styling */
main {
    padding: 20px;
    text-align: center;
    font-size: 1.1em;
    font-family: 'Nunito';
}

.button-container {
    text-align: center;
    margin-top: 20px;
}

.button {
    display: inline-block;
    padding: 12px 24px;
    margin: 10px;
    color: #191970; /* Midnight blue */
    background-color: #FFEB3B; /* White-yellow */
    text-decoration: none;
    font-weight: bold;
    border-radius: 8px;
    transition: background-color 0.3s, color 0.3s;
}

.button:hover {
    background-color: #FFD700; /* Darker yellow on hover */
    color: #FFFFFF;
}

/* Login form styling */
.login-form {
    max-width: 300px;
    margin: 20px auto;
    padding: 20px;
    background-color: #4169E1; /* Light blue background */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.login-form label {
    display: block;
    margin: 10px 0 5px;
    color: #FFFFFF;
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: 'Nunito', sans-serif;
}

.login-form .button {
    width: 100%;
    padding: 10px;
    color: #191970; /* Midnight blue */
    background-color: #FFEB3B; /* White-yellow */
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-form .button:hover {
    background-color: #FFD700; /* Darker yellow on hover */
    color: #FFFFFF;
}

.signup-text {
    text-align: center;
    margin-top: 15px;
    color: #FFFFFF;
}

.signup-text a {
    color: #FFEB3B; /* White-yellow */
    text-decoration: none;
    font-weight: bold;
}

.signup-text a:hover {
    color: #FFD700; /* Darker yellow on hover */
    text-decoration: underline;
}

/* Signup form styling */
.signup-form {
    max-width: 300px;
    margin: 30px auto;
    background-color: #4169E1; /* Light blue background */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 20px;
}

.signup-form label {
    display: block;
    margin: 10px 0 5px;
    color: #FFFFFF;
    font-weight: bold;
}

.sex-options {
    display: flex;
    gap: 15px; /* Add space between radio buttons */
    margin-bottom: 10px; /* Space below radio buttons */
}

.sex-options input {
    margin-right: 5px; /* Space between radio button and label */
}

.signup-form input[type="text"],
.signup-form input[type="email"],
.signup-form input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.signup-form .button {
    width: 100%;
    padding: 10px;
    color: #191970; /* Midnight blue */
    background-color: #FFEB3B; /* White-yellow */
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.signup-form .button:hover {
    background-color: #FFD700; /* Darker yellow on hover */
    color: #FFFFFF;
}

.email-note {
    display: block;
    margin-top: 5px;
    font-size: 0.85em;  /* Slightly smaller text */
    color: #cccccc;     /* Light grey for subtlety */
    text-align: left;
}

/* Button container styles */
.button-container .button {
    display: inline-block;
    padding: 12px 24px;
    margin: 10px;
    color: #191970; /* Midnight blue */
    background-color: #FFEB3B; /* White-yellow */
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

/* Active button styles */
.button-container .button.active {
    background-color: #FFD700; /* Darker yellow */
    color: #FFFFFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* Styling for "What we offer" heading */
h2 {
    font-size: 2.5em;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 20px;
}

/* Icons container */
.icons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    flex-wrap: wrap;
    margin-top: 20px;
}

/* Icon item styling */
.icon-item {
    text-align: center;
    margin: 10px;
    max-width: 300px;
}

.icon {
    width: 200px;
    height: 200px;
    transition: transform 0.3s ease;
}

/* Icon hover effect */
.icon:hover {
    transform: scale(1.1);
}

/* Icon label styling */
.icon-label {
    font-size: 0.9em;
    color: #FFEB3B;  /* White-yellow for icon labels */
    transition: color 0.3s;
    word-wrap: break-word;
    margin-top: 10px;
    text-align: center;
    width: 200px;
}

/* Icon label hover effect */
.icon-item a:hover .icon-label {
    color: #FFD700; /* Darker yellow on hover */
}

/* Questionnaire container */
.question-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

.question-container label {
    font-weight: bold;
    margin-bottom: 8px;
}

.options {
    display: flex;
    gap: 15px;
}

/* Forum container layout */
.forum-container {
    justify-content: space-between;
    align-items: center;
    display: flex;
}

/* Forum table layout */
.forum-table {
    width: 100%;
    table-layout: fixed;
}

.left-panel {
    text-align: left;
    padding-right: 20px;
}

.right-panel {
    text-align: right;
}

/* Make post button */
.left-panel .button {
    padding: 12px 20px;
    background-color: #FFEB3B;
    color: #191970;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.left-panel .button:hover {
    background-color: #FFD700;
    color: #FFFFFF;
}

/* Search bar styles */
.search-bar {
    padding: 10px;
    flex-grow: 1;
    width: calc(100% - 110px);
    max-width: 250px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #191970;
    font-size: 1em;
    margin-right: 5px;
}

/* Right panel button styles */
.right-panel .button {
    padding: 10px 15px;
    background-color: #FFEB3B;
    color: #191970;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.right-panel .button:hover {
    background-color: #FFD700;
    color: #FFFFFF;
}

/* Posts container */
.posts-container {
    width: 100%;
    max-width: 1000px;
    background-color: #4169E1;
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.posts-container h3 {
    color: #FFFFFF;
    text-align: center;
    margin-top: 0;
}

/* Post styling */
.post {
    background-color: #FFFFFF;
    color: #191970;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.form-container {
    background-color: #4169E1;
    width: 70%;
    max-width: 800px;
    margin: 30px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.thank-you-container {
    display: flex;
    flex-direction: column;
    align-items: center;        /* Centers horizontally */
    justify-content: center;    /* Centers vertically */
    height: 100vh;              /* Full viewport height */
    text-align: center;         /* Center text inside the container */
    padding: 20px;
}

.thank-you-container h1 {
    font-size: 2em;
    color: #FFEB3B;  /* White-yellow color for heading */
    margin-bottom: 15px;
}

.thank-you-container p {
    font-size: 1.2em;
    color: #FFFFFF;  /* White color for text */
    margin-bottom: 20px;
}

.thank-you-container .button {
    padding: 12px 24px;
    color: #191970; /* Midnight blue */
    background-color: #FFEB3B; /* White-yellow */
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.thank-you-container .button:hover {
    background-color: #FFD700; /* Darker yellow on hover */
    color: #FFFFFF;
}

.doc-post {
    background-color: #d4edda; /* Light green background */
    border-left: 5px solid #28a745; /* Green border */
}

/* Style for doctor's replies */
.doc-reply {
    background-color: #d4edda; /* Light green background */
    border-left: 5px solid #28a745; /* Green border */
}

.results-container {
    background-color: #4169E1;
    width: 70%;
    max-width: 800px;
    margin: 30px auto;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.results-container h1{
    text-align: center;
    text-decoration: underline;
    font-size: 2rem;
    margin-bottom: 20px;
}

/* Define the fade-in animation */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


.results-container h2 {
    animation: fadeIn 2s ease-in-out; 
    opacity: 0; 
    animation-fill-mode: forwards;  
}

.results-container h2:nth-child(1) {
    animation-delay: 0s;
}

.results-container h2:nth-child(2) {
    animation-delay: 0.3s;
}

.results-container h2:nth-child(3) {
    animation-delay: 0.6s;
}

.results-container h2:nth-child(4) {
    animation-delay: 0.9s;
}

.results-container h2:nth-child(5) {
    animation-delay: 1.2s;
}

.graphs-img {
    opacity: 0; 
    transform: translateY(-20px);
    animation: fadeInFromTop 1s ease-out forwards; 
    border-radius: 10px;
    box-shadow: 10px 5px 5px black;
}

.graphs-img:hover {
    transform: scale(1.05); /* Grow the image slightly on hover */
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); /* Enhance the shadow on hover */
}

@keyframes fadeInFromTop {
    to {
        opacity: 1; 
        transform: translateY(0); 
    }
}

.graphs-img:nth-child(1) {
    animation-delay: 0.5s; 
}

.graphs-img:nth-child(2) {
    animation-delay: .5s; 
}

.graphs-img:nth-child(3) {
    animation-delay: .5s; 
}

.graph-subtext {
    font-size: 14px;
    color: #b3b3b3;
    margin-top: 10px;
    text-align: center;
    font-style: italic;
}