<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Path to Peace</title>
        <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>
    <body>
        <!-- Navbar -->
        <nav class="navbar">
            <h1>
                Path to Peace
                <img src="{{ url_for('static', filename='images/nstar.png') }}" alt="FindNorth Logo" class="logo">
            </h1>
            <!-- <ul> -->
                <li><a href="/">Home</a></li>
            </ul>
        </nav>
        
        <!-- Main Content -->
        <main>
            <p>Login!</p>
            <form action="/login" method="post" class="login-form">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
                
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
                
                <button type="submit" class="button">Login</button>
            </form>
            <p class="signup-text">
                Don't have an account? <a href="/signup">Sign up</a>
            </p>
        </main>
    </body>
</html>